<h1>Hello Djas</h1>
<h2> вопросы</h2>
<p>
  Что будет если зомби укусит вампира?
  Или вампир укусит зомби? Кто-нибудь из посетителей разбирается в тонкостях последствий укусов разной нечести друг друга?
</p>
 <table></table>

<tr>
  <td>
    1
  </td>
  <td>
    2
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td>
    4
  </td>


</tr>


<a href="kupikupon.ru">Куку</a>
<a href="kupikupon.ru">Куку</a>
<a href="kupikupon.ru">Куку</a>